#navbar{
    /* background-color: rgba(217, 217, 217, .9); */
    background: transparent;
    font-family: "Montserrat", sans-serif
}

#navLinks Button{
    background: transparent;
    border: none;
    color: whitesmoke;
}

#navLinks Button:hover{
    background-color: whitesmoke;
    color: black;
}

#brand span{
    color: rgb(164, 168, 161);
}
