#siteImage{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#cardHeader{
    background-color: rgb(93, 170, 30);
    border-bottom: 3px solid black;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: .09em;
    text-shadow: 2px 2px 3px black;
}

#mainDiv{
    background-image: url(../assets/landing.jpg);
    background-size: fill;
    background-repeat: no-repeat;   
    width: 100vw;
    /* height: 155vh; */
    margin-top: -5%;
}

#mainImage{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

#siteResults{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    
}

#resultsBody{
    padding-top: 5%;
}

#amenitiesIcons{
    display: flex;
    margin-top: 5px;
}

.moreInfoButtons{
    padding-left: 40px;
}

#amenitiesIcons div{
    margin: 0px 15px;
    border-radius: 10px;
    font-size: 24px;
    width: 40px;
    height:40px;
    text-shadow: 1px 1px black;
    text-align: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    color: white;
}

#signal{
    background-color: rgb(28, 165, 62);
}

#noSignal{
    background-color: gray;
}

#fire{
    background-color: rgb(218, 68, 49);
}
#noFirewood{
    background-color: gray;
}
#water{
    background-color: rgb(28, 110, 165);
}

#noWater{
    background-color: gray;
}
#shower{
    background-color: rgb(168, 190, 42);
}

#noShower{
    background-color: gray;
}
#toilet{
    background-color: rgb(221, 147, 35);
}

#noToilet{
    background-color: gray;
}

.saveTripButton{
    padding: .4em;
    border: 1.5px solid black;
    border-radius: .5em;
    background: rgb(93, 170, 30);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.saveTripButton::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  rgb(164, 165, 162);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.saveTripButton:hover {
    background: rgb(214, 165, 3);
    transform: translate(0, 0.375em);
}

.saveTripButton:active {
    transform: translate(0em, 0.75em);
}


.saveTripButton:active::before {
    transform: translate3d(0, 0, -1em);
    /* box-shadow: 0 0 0 2px rgb(55, 180, 17), 0 0.25em 0 0 rgb(55, 180, 17); */ 
}

.pageButtons{
   text-align: center;
   padding: 10px;
}

.page{
    margin: 0px 30px;
    background: rgb(93, 170, 30);
    border: 1px solid black;
    text-shadow: 1px 1px 2px black;
}

.page:hover{
    background: black;
}
